<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat_Bot_Api</title>
</head>
<body>
    <div>
        <h1>
            <a href="{% url 'read' %}">
                Hello World for who reads
            </a>
        </br>
        </br>
            <a href="{% url 'readwrite' pk=1 %}">
                Hello World for readwrite
            </a>
        </h1> 
    </div>
    
</body>
</html>